{#
<table class="table">
    <tbody>
        <thead>
            <th>Photo</th>
            <th>Description</th>
        </thead>
        &#123;&#35;{% for step in object.steps %}
            <tr class="sonata-ba-view-container">
                <td>{{ 1 }}</td>
                <td>{{ 2 + 2 }}</td>
            </tr>
        {% endfor %&#35;&#125;}
    </tbody>
</table>#}

{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}

{% endblock %}
