{% extends 'base.html.twig' %}

{% block body %}
    {% set curHour = 'now' | date('H') %}
    {% set isBreakfastPast = curHour > 10%}
    {% set isBreakfastFuture = curHour < 6%}
    {% set isSecBreakfastPast = curHour > 12%}
    {% set isSecBreakfastFuture = curHour < 10%}
    {% set isDinnerPast = curHour > 16%}
    {% set isDinnerFuture = curHour < 12%}
    {% set isAfternoonSnackPast = curHour > 18%}
    {% set isAfternoonSnackFuture = curHour < 16%}
    {% set isSupperPast = curHour > 20%}
    {% set isSupperFuture = curHour < 18%}
    {% set isSecSupperPast = curHour > 21%}
    {% set isSecSupperFuture = curHour < 20%}
    <div id="content" class="content">
        <div class="container">
            <div class="row row-space-30">
                <div class="col-md-9">
                    <ul class="post-list">
                        <li>
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: 'now' | date('Y-m-d'), type: "breakfast"}),
                            'image': 'images/breakfast.jpg', 'name': 'Завтрак',
                            'description': 'Приём пищи с 06:00 до 10:00',
                            'was' : isBreakfastPast, 'will' : isBreakfastFuture} %}
                        </li>
                        <li>
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: 'now' | date('Y-m-d'), type: "sec-breakfast"}),
                            'image': 'images/lunch.png', 'name': 'Второй завтрак',
                            'description': 'Приём пищи с 10:00 до 12:00',
                            'was' : isSecBreakfastPast, 'will' : isSecBreakfastFuture} %}
                        </li>
                        <li>
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: 'now' | date('Y-m-d'), type: "dinner"}),
                            'image': 'images/dinner.jpg', 'name': 'Обед',
                            'description': 'Приём пищи с 12:00 до 16:00',
                            'was' : isDinnerPast, 'will' : isDinnerFuture} %}
                        </li>
                        <li>
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: 'now' | date('Y-m-d'), type: "afternoon-snack"}),
                            'image': 'images/afternoon_snack.jpg', 'name': 'Полдник',
                            'description': 'Приём пищи с 16:00 до 18:00',
                            'was' : isAfternoonSnackPast, 'will' : isAfternoonSnackFuture} %}
                        </li>
                        <li>
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: 'now' | date('Y-m-d'), type: "supper"}),
                            'image': 'images/supper.jpg', 'name': 'Ужин',
                            'description': 'Приём пищи с 18:00 до 20:00',
                            'was' : isSupperPast, 'will' : isSupperFuture} %}
                        </li>
                        <li>
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: 'now' | date('Y-m-d'), type: "sec-supper"}),
                            'image': 'images/second_supper.jpg', 'name': 'Второй ужин',
                            'description': 'Приём пищи с 20:00 до 21:00',
                            'was' : isSecSupperPast, 'will' : isSecSupperFuture} %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="section-container">
                        <h4 class="section-title"><span>Приёмы пищи</span></h4>
                        <ul class="sidebar-list">
                            <li><a href="#">Закрытые</a></li>
                            <li><a href="#">Текущий</a></li>
                            <li><a href="#">В режиме ожидания</a></li>
                        </ul>
                    </div>
                    <div class="section-container">
                        <h4 class="section-title"><span>Follow Us</span></h4>
                        <ul class="sidebar-social-list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
