{% extends 'base.html.twig' %}

{% block body %}
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in hide"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade in">
        {% if app.user %}
        <div class="row" style="padding-top: 100px; padding-left: 50px;">
            <div class="col-md-4 ui-sortable">
                <div class="panel panel-inverse" data-sortable-id="flot-chart-8">
                    <div class="panel-heading">
                        <h4 class="panel-title">202 + 233 + 331 = 2331</h4>
                    </div>
                    <div class="panel-body">
                        <canvas id="chart-proteins" proteins-chart width="400" height="400" eating-data="{{ userEatingData["proteins"] | json_encode }}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="http://xvatit.com/uploads/posts/2015-07/1437718687_1.jpg" alt="">
                </div>
            </div>
        </div>
        {% endif %}
        <!-- end register -->
    </div>
    <!-- end page container -->
{% endblock %}
