{% extends 'base.html.twig' %}

{% block body %}
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in hide"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade in">
        <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="http://seantheme.com/color-admin-v2.1/admin/html/assets/img/login-bg/bg-8.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- end register -->
    </div>
    <!-- end page container -->
{% endblock %}
