{% extends 'base.html.twig' %}

{% block body %}
<div id="page-container" class="fade in">
    <!-- BEGIN #about-us-cover -->
    <div id="about-us-cover" class="has-bg section-container">
        <!-- BEGIN cover-bg -->
        <div class="cover-bg">
            <img src="http://seantheme.com/color-admin-v2.1/frontend/e-commerce/assets/img/about-us-cover.jpg" alt="">
        </div>
        <!-- END cover-bg -->
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN about-us -->
            <div class="about-us text-center">
                <h1 style="color:white;">Об Авторе</h1>
                <p>
                    Быковский Александр Александрович
                </p>
            </div>
            <!-- END about-us -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #about-us-cover -->

    <!-- BEGIN #about-us-content -->
    <div id="about-us-content" class="section-container bg-white">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN about-us-content -->
            <div class="about-us-content">
                <h2 class="title text-center">Ещё немного обо мне?</h2>
                <div class="row">
                    <div class="col-md-5 col-sm-5"></div>
                <img class="col-md-2 col-sm-2" style="width: 250px;" src="images/IMG_20150321_112223_1.jpg"/>
                    <div class="col-md-5 col-sm-5"></div>
                </div>
                <!-- BEGIN row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon text-muted"><i class="fa fa-child"></i></div>
                            <div class="info">
                                <p class="desc">Родился 24 мая 1994 года в городе Смолевичи.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon text-primary"><i class="fa fa-calendar"></i></div>
                            <div class="info">
                                <p class="desc">В 2000 году поступил в Смолевичскую школу №1 им. В.Ф.Купревича. В 2004 году поступил в 5 класс Смолевичской районной гимназии, которую в 2011 году окончил с отличием. Во время учёбы в гимназии был многократным призёром и победителем районных олимпиад по физике, математике, истории и географии.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon text-info"><i class="fa fa-university"></i></div>
                            <div class="info">
                                <p class="desc">В 2011 году поступил в БГУ на факультет ФПМИ. В 2016 году окончил выше названный факультет. В этом же году поступил в магистратуру ФПМИ БГУ, где до сих пор и обучается.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- END row -->
                <hr>
                <!-- BEGIN row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon text-danger"><i class="fa fa-cc-discover"></i></div>
                            <div class="info">
                                <p class="desc">Интересы: веб-программирование, алгоритмы.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon text-inverse"><i class="fa fa-connectdevelop"></i></div>
                            <div class="info">
                                <p class="desc">Ссылка на реферат <a href="https://app.box.com/s/nkx0xhouc9goiq47wnbupi28z3tkfk1m">doc</a> <a href="https://app.box.com/s/cxiefqln630i7pt1pxsq7abdzqgk0t4p">pdf</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon text-success"><i class="fa fa-braille"></i></div>
                            <div class="info">
                                <p class="desc">Ссылка на презентацию <a href="https://app.box.com/s/e9z2uv8wig1vicc9pbpkxopnrdl9ubd1">ppt</a> <a href="https://app.box.com/s/tbt1l7rnklt20y24dq888o8g2pgvnrvz">pdf</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END about-us-content -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #about-us-content -->
</div>
{% endblock %}