{% extends 'base.html.twig' %}

{% block body %}
    <div id="content" class="content">
        <!-- begin row -->
        <div class="row">
            {#<div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Новая подсказка от ИИ!</strong>
            </div>
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Профиль был обновлён!</strong>
            </div>#}
            {% if firstEatingRemind %}
                <div class="alert alert-info">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong>{{ firstEatingRemind.message }}</strong>
                </div>
            {% endif %}
            <div class="table-responsive" style="padding-top: 70px;">
                <h4>Последние уведомления</h4>
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        {#<tr class="success">
                            <td>Новая подсказка от ИИ!</td>
                            <td>27.04.2017</td>
                        </tr>#}
                        {% for notification in notifications %}
                            <tr class="info">
                                <td>{{ notification.message }}</td>
                                <td>{{ notification.createdAt | date("d/m/Y H:i") }}</td>
                            </tr>
                        {% endfor %}
                        {#<tr class="warning">
                            <td>Профиль был обновлён!</td>
                            <td>22.05.2017</td>
                        </tr>#}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end row -->
    </div>
{% endblock %}